@import 'material-icons/iconfont/material-icons.css';
//@import url('https://fonts.google.com/specimen/Nunito+Sans');
@import 'assets/css/fonts.css';
@import url(./css/fonts.css);

body {
  background-color: var(--bg);
  font-family: Nunito Sans;
}
.fw-300 {
  font-weight: 300;
}
.fw-600 {
  font-weight: 600;
}
.fw-800 {
  font-weight: 800;
}
:root {
  --color: #243746;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
}

.dark-mode {
  --color: #ebf4f1;
  --color-primary: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;
}
.fs-8 {
  font-size: 8px;
}
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-20 {
  font-size: 20px;
}

.ml-auto {
  margin-left: auto;
}
