@import 'material-icons/iconfont/material-icons.css';
//@import url('https://fonts.google.com/specimen/Nunito+Sans');
@import 'assets/css/fonts.css';
@import url(./css/fonts.css);

body {
  background-color: var(--bg);
  font-family: Nunito Sans;
}

a {
  color: unset;
  text-decoration: none;
}

.container {
  padding-top: 67px
}

.btn:focus {
  box-shadow: unset !important;
}

.fw-300 {
  font-weight: 300;
}

.fw-600 {
  font-weight: 600;
}

.fw-800 {
  font-weight: 800;
}

.pointer {
  cursor: pointer;
}

:root {
  --color: hsl(200, 15%, 8%);
  --color-primary: #158876;
  --color-secondary: #0e2233;
  --bg: #fff;
  --bg-secondary: #fff;
  --border-color: #ddd;
}

.dark-mode {
  --color: hsl(0, 0%, 100%);
  --color-primary: #41b38a;
  --color-secondary: hsl(0, 0%, 98%);
  --bg: hsl(207, 26%, 17%);
  --bg-secondary: hsl(209, 23%, 22%);
  //--border-color: #0d2538;
}

.fs-8 {
  font-size: 8px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-20 {
  font-size: 20px;
}

.ml-auto {
  margin-left: auto;
}
