@import 'material-icons/iconfont/material-icons.css';
@import 'assets/css/fonts.css';
@import "assets/typography.css";
@import url(./css/fonts.css);

body {
  background-color: var(--bg);
  font-family: Nunito Sans;
}

a {
  color: unset;
  text-decoration: none;
}

.container {
  padding-top: 67px
}

.btn:focus {
  box-shadow: unset !important;
}

.pointer {
  cursor: pointer;
}

:root {
  --color: hsl(200, 15%, 8%);
  --color-primary: #158876;
  --color-secondary: #0e2233;
  --bg: hsl(0, 0%, 98%);
  --bg-secondary: #fff;
  --border-color: #ddd;
}

.dark-mode {
  --color: hsl(0, 0%, 100%);
  --color-primary: #41b38a;
  --color-secondary: hsl(0, 0%, 98%);
  --bg: hsl(207, 26%, 17%);
  --bg-secondary: hsl(209, 23%, 22%);
  //--border-color: #0d2538;
}
